$palette-1: #559cd0;
$palette-2: #223a48;
$palette-3: #ffffff;

$font-weight-regular: 400;
$font-weight-bold: 700;

.color-palette-1 {
    color: $palette-1;
}
.color-palette-2 {
    color: $palette-2;
}
.color-palette-3 {
    color: $palette-3;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: $font-weight-regular;
    font-size: 10pt;
    line-height: 1.55em;
    color: $palette-2;

    margin: 0;
    padding: 0;
}

@media print {
    body {
        font-size: 6.2pt;
    }
}

b,
strong {
    font-weight: $font-weight-bold;
}

a,
a:link,
a:hover {
    color: $palette-2;
    text-decoration: underline;
    display: inline-block;
}

small {
    font-size: 0.7em;
}

big {
    font-size: 1.2em;
}

.with-margin-right {
    margin-right: 10px;
}

@page {
    size: A4 portrait;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0 0 4px;
    &:last-child {
        margin: 0;
    }
}

ul {
    list-style: square;
    padding-left: 1.7em;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

table {
    width: 100%;

    thead,
    .col-title {
        color: $palette-1;
    }

    .col-title {
        text-align: right;
        padding-right: 10px;
    }
}

.section {
    margin-bottom: 6px;
    page-break-inside: avoid;

    .sidebar,
    .content {
        display: inline-block;
        vertical-align: top;
    }

    .sidebar {
        text-align: right;
        padding-right: 20px;
        color: $palette-1;
        width: 25%;

        &.title {
            text-transform: uppercase;
            font-weight: $font-weight-bold;
        }
    }

    .content {
        width: 75%;
        .title {
            font-size: 1.2em;
            margin-bottom: 2px;
        }
    }

    .title {
        color: $palette-1;
    }
}
